:root {
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: var(--main-font), var(--secondary-font), sans-serif;
  background-color: var(--white);
  color: var(--navyblue);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1158px;
  margin: 0px auto;
  padding: 0 15px;
}

.composition {
  display: flex;
  justify-content: center;
}
/* ##### COMPONENTS ##### */
* {
  margin: 0px;
  padding: 0px;
}

/* ##### END COMPONENTS ##### */

/* ##### HEADER ##### */
.header {
  width: 1440px;
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
}

.head {
  display: flex;
  background: var(--white);
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}
.head {
  display: flex;
  padding-left: 76px;
  align-items: center;
}

.head .navigation {
  display: flex;
  flex-direction: row;
}

.head .navigation-list {
  display: flex;
  padding-left: 76px;
  gap: 40px;
  align-items: center;
  flex-direction: row;
}

.head .address {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 40px;
}

.navigation-logo {
  font-family: var(--secondary-font);
  color: var(--navyblue);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.54px;
  text-decoration: none;
}
.navigation-logo:active {
  color: var(--navyblue);
}
.navigation-logo-color {
  color: var(--iris);
}

.link:visited {
  text-decoration: none;
}
.navigation-list-link {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  list-style-type: none;
  letter-spacing: 0.32px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-mail:hover,
.address-mail:focus,
.address-phone-number:hover,
.address-phone-number:focus {
  color: var(--ocean);
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.navigation-list .current {
  position: relative;
}
.navigation-list .current::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0px;
  width: 100%;
  height: 4px;
  background: var(--ocean);
  border-radius: 2px;
}

.address-mail {
  font-style: normal;
}

.address-mail,
.address-phone-number {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate);
}

/* ##### END HEADER ##### */

/* ##### MAIN ##### */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
}
.main > .section {
  padding: 120px 0px 0 0px;
}

.main > .section:first-child {
  padding: 188px 457px;
  max-width: 1440px;
  height: 600px;
  background-color: var(--navyblue);
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('https://s3-alpha-sig.figma.com/img/7c8d/46d4/7e83b6c8ee4603ea892aa8aaebb3c5fe?Expires=1698624000&Signature=aGT5mwKkYtxeJ5qNd8kCYCpjpk6tlyXxhqmE6oCc2IS1Hy7IgMCgLRA~kX7S7DoM9Jr93JlGVG62akrlSMIRQ-vE9IXuMt0IUcTLXztinrEcHN1GaiopyOLXqv72piSOCHYYSlSZ7rUbfDLuAnpJAI~1yL8xqCtF30YWQ9QxPLbc5Z8gENQ17ik~wSvSva0BYOW9l64m6Mv~1j4SkTKJBZOmdc1NDu~aPzuMauCQNOJt3KfEAyn4RQ-FyQJEBdzBK5XUmqgTjJ1d8oO8hgmrJ2lvqst1Vmu7WbgkA8i4Cu2xD-c~7iHDGppFfjpf45W~BYEjJ7IXfcPa2rXtJbwIqg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  background-size: cover;
  background-position: center;
}
.main > .section > .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-texth1 {
  width: 496px;
  height: 120px;
  font-size: 56px;
  line-height: 1.071;
  text-align: center;
  letter-spacing: 1.12px;
  color: var(--white);
  margin-bottom: 46px;
}

.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  gap: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.64px;
  color: var(--white);
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean);
  cursor: pointer;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
/* ##### SECOND SECTION ##### */
.main-list {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  gap: 24px;
}

.main-list-texth3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.03em;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.main-list-texth3::first-letter {
  text-transform: uppercase;
}

.main-list-undertitle {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate);
  width: 264px;
}

.main-list-icon {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background: var(--cloud);
  padding: 24px 100px;
}

/* ##### SECOND SECTION EDN ##### */

/* ##### THIRD/FOURTH SECTION ##### */
.main > .section:nth-child(3) {
  padding-bottom: 120px;
}

.main > .section:nth-child(4) {
  background: var(--cloud, #f4f4fd);
  padding-bottom: 120px;
}
.main > .section:nth-child(5) {
  padding-bottom: 120px;
}

.main-texth2 {
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 72px;
  text-transform: capitalize;
}

.main-list-team {
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
  gap: 24px;
}
.main-list-team-piciture {
  display: inline-flex;
  flex-direction: column;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.main-list-team-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 32px;
}

.main-list-team-under {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--slate);
  margin: 8px 0 8px 0;
}

.main-list-team-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}

.main-list-team-icon-background {
  background-color: var(--iris);
  border-radius: 50%;
}

.main-list-team-icon-background:hover,
.main-list-team-icon-background:focus {
  background-color: var(--ocean);
  cursor: pointer;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.main-list-piciture-icon {
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  padding: 16px 32px;
  fill: var(--lightslate);
}

.main-list-piciture-icon:hover,
.main-list-piciture-icon:focus {
  border: 1px solid var(--ocean);
  fill: var(--ocean);
  cursor: pointer;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ##### END MAIN ##### */

/* ##### FOOTER ##### */
.footer .logo-footer {
  color: var(--cloud);
  font-weight: 800;
}
.footer {
  background: var(--navyblue);
  padding-top: 101.5px;
  width: 1440px;
}

.footer-mission {
  font-family: var(--main-font);
  color: var(--cloud);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
  height: 72px;
}
.footer-container-logo {
  padding-right: 120px;
}

.footer-container-social {
  width: 208px;
  height: 80px;
}

.footer-container-social-h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--white);
}
.footer-container-social-h3::first-letter {
  text-transform: uppercase;
}

.footer > .container {
  display: flex;
  padding-bottom: 100px;
}
.footer-container-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-container-social-icon-background {
  background-color: var(--iris);
  border-radius: 50%;
}

.footer-container-social-icon-background:hover,
.footer-container-social-icon-background:focus {
  background-color: var(--green);
  cursor: pointer;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
/* ##### END FOOTER ##### */

/* ################# PORTFOLIO ################## */

/* ##### FILTR ##### */
.search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 96px 0 72px 0;
}

.search-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--iris);
  padding: 6px 22px;
  background: var(--cornflower);
  border-radius: 4px;
  border: none;
}

.search-btn:hover,
.search-btn:focus {
  color: var(--white);
  background: var(--ocean);
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition-property: color, background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ##### END FILTR ##### */

/* ##### MAIN ##### */
.main-portfolio-section {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-bottom: 120px;
}

.portfolio-main-list-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04px;
  padding-top: 32px;
}

.portfolio-main-list-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--slate);
  padding-top: 8px;
  padding-bottom: 32px;
}

.portfolio-main-list-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  width: 360px;
  position: relative;
  overflow: hidden;
}
.portfolio-main-list-section:hover,
.portfolio-main-list-section:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.portfolio-main-list-card {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  border-left: 1px solid var(--cornflower, #e7e9fc);
  border-right: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  width: 360px;
  padding: 0 16px;
  position: relative;
  z-index: 1;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transition: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transform: translatey(100%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 32px 0 32px;
}
.portfolio-overlay-text {
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--cloud);
}

.portfolio-main-list-section:hover .portfolio-overlay {
  transform: translateY(0);
}
/* ##### END MAIN ##### */

/* ##### MODAL #####*/
.modal-window {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: all;
  background-color: var(--navybluemodal);
  transition: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.modal-window.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-body {
  background-color: var(--dairy);
  width: 408px;
  height: 584px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}
.modal-close {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: relative;
  top: 36px;
  left: calc(100% - 36px);
}
.modal-close-bg {
  width: 24px;
  height: 24px;
  z-index: 1;
  position: absolute;
}
.modal-close-x {
  fill: var(--navyblue);
  width: 8px;
  height: 8px;
  z-index: 2;
  position: absolute;
}
/* ##### END-MODAL #####*/
